<section class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Signup</h3>
    <form class="form signup-form" id="signup">
      <div class="card-text">
        <label for="signupUsername">Username</label>
        <input type="text" placeholder="username" id="signupUsername" />
      </div>
      <div class="card-text">
        <label for="signupPassword">Password</label>
        <input type="password" placeholder="password" id="signupPassword" />
      </div>
      <button type="submit" class="btn btn-primary">signup</button><br />
      <a href="/login">Login here</a>
    </form>
  </div>
</section>

<script src="/js/signup.js"></script>